# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/

# Temp Render Images & Output Excel
*.png
*.jpg
*.xlsx
*.stp
*.step
*.igs
*.iges
*.json
